body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 1.5rem;
}

#map {
  height: 90vh;
  width: 100%;
}
